# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [60]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
    
chipo = pd.read_csv(url, sep = '\t')

### Step 3. Assign it to a variable called chipo.

In [3]:
df = chipo.copy()

### Step 4. See the first 10 entries

In [4]:
df.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [5]:
# Solution 1
df.shape[0]

4622

In [7]:
# Solution 2
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [8]:
df.shape[1]

5

In [13]:
len(df.columns)

5

In [16]:
num = 0
for column in df.columns:
    num +=1
print(f'The number of columns in the dataframe is {num}')

The number of columns in the dataframe is 5

### Step 7. Print the name of all the columns.

In [18]:
for column in df.columns:
    print(f'{column} \n')

order_id

quantity

item_name

choice_description

item_price

### Step 8. How is the dataset indexed?

In [21]:
df.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [22]:
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [24]:
df.sort_values('quantity', ascending=False)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25
4152,1660,10,Bottled Water,NaN,$15.00
3887,1559,8,Side of Chips,NaN,$13.52
3599,1443,7,Bottled Water,NaN,$10.50
2441,970,5,Bottled Water,NaN,$7.50
...,...,...,...,...,...
1592,645,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
1593,645,1,Chips and Tomatillo Green Chili Salsa,NaN,$2.95
1594,646,1,Carnitas Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$9.25
1595,646,1,Chicken Burrito,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$11.25
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [30]:
df.groupby('item_name').sum().sort_values(by='quantity', ascending=False).head()

                     order_id  quantity
item_name
Chicken Bowl           713926       761
Chicken Burrito        497303       591
Chips and Guacamole    449959       506
Steak Burrito          328437       386
Canned Soft Drink      304753       351

### Step 10. For the most-ordered item, how many items were ordered?

In [ ]:
# See above

### Step 11. What was the most ordered item in the choice_description column?

In [31]:
df.groupby('choice_description').sum().sort_values('quantity', ascending=False)[0:5]

                                                    order_id  quantity
choice_description
[Diet Coke]                                           123455       159
[Coke]                                                122752       143
[Sprite]                                               80426        89
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     43088        49
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     36041        42

### Step 12. How many items were orderd in total?

In [32]:
df['quantity'].sum()

4972

### Step 13. Turn the item price into a float

First approach

In [33]:
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [49]:
df['price_float'] = df['item_price'].str.strip('$').astype(float)

Second Approach

In [50]:
floater = lambda value: float(value[1:])
df.item_price.apply(floater)

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

#### Step 13.c. Check the item price type

In [53]:
df['price_float'].dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [57]:
revenue = sum(df['price_float'] * df['quantity'])

In [61]:
print(f'Revenue was ${np.round(revenue, 2)}')

Revenue was $39237.02

### Step 15. How many orders were made in the period?

In [63]:
df.groupby('order_id').count()

          quantity  item_name  choice_description  item_price  price_float
order_id
1                4          4                   2           4            4
2                1          1                   1           1            1
3                2          2                   1           2            2
4                2          2                   2           2            2
5                2          2                   1           2            2
...            ...        ...                 ...         ...          ...
1830             2          2                   2           2            2
1831             3          3                   1           3            3
1832             2          2                   1           2            2
1833             2          2                   2           2            2
1834             3          3                   3           3            3

[1834 rows x 5 columns]

In [67]:
# Count how many times each unique value occured, then count that
df.order_id.value_counts().count()

1834

### Step 16. What is the average revenue amount per order?

In [68]:
# Solution 1
df.head()

,order_id,quantity,item_name,choice_description,item_price,price_float
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98

In [72]:
df['revenue'] = df['price_float'] * df['quantity']

In [75]:
df.groupby('order_id').sum().mean()

quantity        2.711014
price_float    18.811429
revenue        21.394231
dtype: float64

### Step 17. How many different items are sold?

In [76]:
df.head()

,order_id,quantity,item_name,choice_description,item_price,price_float,revenue
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98,33.96

In [79]:
df.item_name.value_counts().count()

50